@{
    ViewBag.Title = "About";
}

<style>
    body {
        margin: 0;
        font-family: var(--bs-body-font-family);
        font-size: var(--bs-body-font-size);
        font-weight: var(--bs-body-font-weight);
        line-height: var(--bs-body-line-height);
        color: var(--bs-body-color);
        text-align: var(--bs-body-text-align);
        background-color: cadetblue;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
</style>
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Los camiones son vehículos diseñados para transportar cargas pesadas y grandes volúmenes. Son esenciales para mover alimentos, materiales y productos, ayudando al funcionamiento de la economía y la vida diaria.</p>
</main>