@{
    ViewBag.Title = "Contact";
}

<style>
    body {
        margin: 0;
        font-family: var(--bs-body-font-family);
        font-size: var(--bs-body-font-size);
        font-weight: var(--bs-body-font-weight);
        line-height: var(--bs-body-line-height);
        color: var(--bs-body-color);
        text-align: var(--bs-body-text-align);
        background-color: cadetblue;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
</style>
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <img src="~/Gif/gid1.jfif" alt="Camión animado" class="img-fluid">


    <address>
        Calle 5 de mayo Guadalupe Zacatecas<br />
        Guadalupe,Zacatecas 98658<br />
        <abbr title="Phone"></abbr>
        492-243-6190
    </address>

    <address>
        <strong>ETN</strong>   <a href="https://etn.com.mx/branded/?utm_term=etn&utm_campaign=AO+-+T%C3%A9rminos+de+marca&utm_source=adwords&utm_medium=ppc&hsa_acc=4687235063&hsa_cam=268345726&hsa_grp=171763658545&hsa_ad=726079511179&hsa_src=g&hsa_tgt=kwd-119987822&hsa_kw=etn&hsa_mt=e&hsa_net=adwords&hsa_ver=3&gad_source=1&gad_campaignid=268345726&gbraid=0AAAAADpQV-pDHn2x7DzmrMiNBmrkSWYuh&gclid=CjwKCAiAybfLBhAjEiwAI0mBBubijpQKdtnfL_uyl6xvZeSHbSkyKwfUcktQ_eGZAHEk-lyjIYG-ORoCZFIQAvD_BwE">Support@example.com</a><br />
        <strong>Facebook:</strong> <a href="https://www.facebook.com/etnturistar?locale=es_LA">Marketing@example.com</a>
    </address>
</main>